.directory
/client/.directory
/server/.directory

/client/*.d
/server/*.d
/client/sources/*.d
/server/sources/*.d

/client/*.o
/server/*.o
/client/sources/*.o
/server/sources/*.o

/client/#*
/server/#*

/client/*.so
/server/*.so
